%h1 Blackjack!
%h2 Welcome to Blackjack!

.board
  - @yaml_cards.each do |card| 
    .row{:id => "player1"}
      = partial :card, @card = card
  .row
  .row{:id => "player2"}
    = partial :card, @card = @yaml_cards.pop
    = partial :card, @card = @yaml_cards.pop
    = partial :card, @card = @yaml_cards.pop
    = partial :card, @card = @yaml_cards.pop
