%h1 Blackjack!
%h2 Welcome to Blackjack!
.row
  = partial :card, @card = @yaml_cards.pop
  = partial :card, @card = @yaml_cards.pop
  = partial :card, @card = @yaml_cards.pop
  = partial :card, @card = @yaml_cards.pop
.row
.row
.row
.row{:id => "player1"}  
  = partial :card, @card = @yaml_cards.pop
.row{:id => "player2"}
  = partial :card, @card = @yaml_cards.pop
.row{:id => "player3"}
  = partial :card, @card = @yaml_cards.pop
.row{:id => "player4"}
  = partial :card, @card = @yaml_cards.pop
