%h1 Blackjack!
%h2 Welcome to Blackjack!
/ - @yaml_cards.each do |card|
/   = partial :card, @card=card
= partial :card, @card = @yaml_cards.pop
= partial :card, @card = @yaml_cards.pop
= partial :card, @card = @yaml_cards.pop
= partial :card, @card = @yaml_cards.pop
= partial :card, @card = @yaml_cards.pop
= partial :card, @card = @yaml_cards.pop
= partial :card, @card = @yaml_cards.pop
= partial :card, @card = @yaml_cards.pop
= partial :card, @card = @yaml_cards.pop
= partial :card, @card = @yaml_cards.pop
= partial :card, @card = @yaml_cards.pop
= partial :card, @card = @yaml_cards.pop
